.u-section-1 .u-video-1 {
  min-height: 720px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}.u-section-2 .u-sheet-1 {
  min-height: 487px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 100px auto 60px 0;
}